.container
  .row
    .col-xs-12
      //- this needs to actually POST so that it can issue the redirect immediately
      form.form-horizontal(method="POST" action="/oauth/dialog/authorize/decision")
        fieldset
          legend Allow Application {{ O.appName }}

          div(ng-if="O.error.message")
            .alert.alert-danger {{ O.error.message }}
            .alert.alert-danger
              pre
                code {{ O.rawResponse | json }}
          div(ng-if="O.invalids.length")
            .alert.alert-danger
              span The application provided invalid scope.
              ul
                li(ng-repeat="invalid in O.invalids")
                  pre
                    code {{ invalid | json }}

          //- TODO auto-update on change
          input(type="hidden" name="transaction_id" ng-value="O.transactionId")
          input(type="hidden" name="accepted_scope" ng-value="O.acceptedScope")
          input(type="hidden" name="selected_account_id" ng-value="O.selectedAccountId")
          .form-group
            .col-xs-6
              span {{ O.selectedAccount.displayName || 'Error: No Display Name' }}
              br
              img(ng-src="{{ O.selectedAccount.avatar || '/images/avatar-64px.png' }}")
              .form-group(ng-if="O.accounts.length > 1")
                label
                  span Choose a different account
                select.form-control(
                  ng-model="O.selectedAccount"
                  ng-options="acc as acc.displayName for acc in O.accounts"
                  ng-change="O.updateScope()"
                )

            .col-xs-6
              span {{ O.client.title || 'Error: No App Title' }}
              br
              img(ng-src="{{ O.client.logo || '/images/app-icon-64px.png' }}")

            .col-xs-12
              .checkbox(ng-repeat="scope in O.deltaScope")
                label
                  input(
                    ng-change="O.updateScope()"
                    ng-model="scope.accepted"
                    type="checkbox"
                  )
                  |  {{ scope.name }}

            .form-group
              .col-lg-offset-10.col-lg-offset-2
                .col-xs-6
                  button.btn.btn-default(
                    name="cancel"
                    type="submit"
                    ng-disabled="O.invalids.length || O.error"
                  ) Cancel
                .col-xs-6
                  button.btn.btn-primary(
                    type="submit"
                    ng-disabled="O.invalids.length || O.error"
                  ) Allow
