.auth-modal
  form.form-horizontal
    //-.modal-header(ng-if="P.title")
      h4.modal-title {{ P.title }}
      .alert(ng-if="P.alertMessage", ng-class="{{P.alertType}}")
        span(ng-bind="P.alertMessage")

    .modal-body
      .row
        .col-xs-12
            button.close.pull-right(type="button", ng-click="P.cancel()") &times;
            fieldset
              legend Pay Invoice
              .form-group
                label.col-lg-12.control-label(ng-model="P.purchase.date" for='inputDate') Date of Event
                .col-lg-12
                  input#inputDate.form-control(type='date', placeholder='i.e. 2014-Aug-16')

              .form-group
                .row
                  .col-xs-12
                    label.col-lg-12.control-label(for='inputHours') When should I be set up
                .row(style="margin-left: 0")
                  .col-lg-3.col-md-3.col-sm-4.col-xs-6
                    span.help-block be set up by
                    timepicker(
                      ng-model="P.purchase.fromTime"
                      ng-change="P.updateAmount()"
                      hour-step="1"
                      minute-step="30"
                      show-meridian="true"
                    )

                  .col-lg-4.col-md-4.col-sm-5.col-xs-6
                    span.help-block start tearing down at
                    timepicker(
                      ng-model="P.purchase.toTime"
                      ng-change="P.updateAmount()"
                      hour-step="1"
                      minute-step="30"
                      show-meridian="true"
                    )

              .form-group
                label.col-lg-12.control-label(for='textArea') Notes
                .col-lg-12
                  textarea#textArea.form-control(ng-model="P.purchase.notes" rows='3', placeholder="(optional)")
                  span.help-block
                    | Any special notes you have for us.

              .form-group
                label.col-lg-12.control-label(for='inputAmount') Deposit (usually 50% of total cost)
                .col-lg-12
                  .input-group
                    span.input-group-addon $
                    input#inputAmount.form-control(
                      ng-model="P.purchase.displayAmount"
                      ng-change="P.updateDisplayAmount()"
                      type="number"
                      placeholder="i.e. $150"
                      step="1"
                      min="1"
                      required
                    )
                    span.input-group-addon .00
              //-.form-group
                label.col-lg-2.control-label(for='select') Selects
                .col-lg-10
                  select#select.form-control
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
                  br
                  select.form-control(multiple='')
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
              //-.form-group
                .col-lg-10.col-lg-offset-2
                  button.btn.btn-default Cancel
                  button.btn.btn-primary(type='submit') Submit
      .row
        .col-xs-12
          //- TODO select payment method
          //- TODO use store credit / wallet
          button.btn.btn-default(type="button" ng-click="P.cancel()") Cancel
          button.btn.btn-primary.pull-right(type="button" ng-click="P.confirm()") Confirm {{ P.transactionType }}
