.container
  h3 Account Settings

  p (Account settings go here)

  h3 Billing Information

  .row
    .panel.panel-info.visible-lg-inline-block
      .panel-heading 
        span Your Credit Cards
      table.table
        tr(ng-show="0 === A.account.creditcards.length")
          th There are no cards on file yet.
        tr(ng-hide="0 === A.account.creditcards.length")
          th Type
          th Last 4 Digits
          th Expiration
          th Actions
        tr(ng-repeat="token in A.account.creditcards")
          td
            span(ng-bind="token.card.brand")
          td
            span *
            span(ng-bind="token.card.last4")
          td
            span(ng-bind="token.card.expMonth")
            span /
            span(ng-bind="token.card.expYear")
            span.text-danger(
                ng-show="A.isExpired(token.card)"
                title="To update an expired card, click Remove then Add Card"
              ) 
              span &#32;&nbsp;&#32;
              span.fa.fa-warning
              span &#32;Expired
          td
            button.btn.btn-danger.btn-xs(
              type="button" 
              ng-click="A.removeCard(token)"
            )
              span.glyphicon.glyphicon-remove &#32;
              span &#32;Remove
            button.btn.btn-warning.btn-xs(
              type="button" 
              ng-click="A.setPreferredCard(token)"
              ng-hide="token.isPreferred"
            ) Set as Preferred
            span.btn.btn-default.disabled.btn-xs(
              ng-show="token.isPreferred"
            ) 
              span.glyphicon.glyphicon-ok &#32;
              span &#32;Preferred Card 
  .row
    button.btn.btn-success.btn-sm(
      ng-click="A.addCardStripe()"
    )
      span.glyphicon.glyphicon-plus
      span &#32;Add Card (Stripe)
    button.btn.btn-warning.btn-sm(
      ng-click="A.addCardCustom()"
    )
      span.glyphicon.glyphicon-plus
      span &#32;Add Card (Custom)

  h3 Connected Mobile Devices

  .row
    .panel.panel-info.visible-lg-inline-block
      .panel-heading 
        span Authorized Devices
      table.table
        tr(ng-show="0 === A.account.devices.length")
          th There are no devices connected.
        tr(ng-hide="0 === A.account.devices.length")
          th Device Token
          th System
          th Notifications?
          th Actions
        tr(ng-repeat="device in A.account.devices")
          td
            span(ng-bind="device.token")
          td
            span(ng-bind="device.agent.family")
            span &#32;
            span(ng-bind="device.agent.version")        
            span &#32;on&#32;
            span(ng-bind="device.agent.os.family")        
            span &#32;
            span(ng-bind="device.agent.osversion")        
          td
            label
              input(
                type="checkbox"
                ng-model="device.enablePush"
                ng-change="A.enablePushNotifications(device)"
              )
              span &#32; Enable Push Notifications     
          td
            button.btn.btn-danger.btn-xs(
              type="button" 
              ng-click="A.removeDevice(device)"
            )
              span.glyphicon.glyphicon-remove &#32;
              span &#32;Remove

  .row
    button.btn.btn-success.btn-sm(
      ng-click="A.addThisDevice()"
    )
      span.glyphicon.glyphicon-plus
      span &#32;Authorize this device


  h3 Linked Accounts
  div
    button.btn.btn-link(ng-click="A.showLoginModal()") Link another account

  div(ng-if="!A.providers.facebook")
    button.btn.btn-facebook(type="button", ng-click="A.loginWithFacebook()")
      i.fa.fa-facebook-square
      span &#32;| Connect with Facebook
  div(ng-if="A.providers.facebook")
    button.btn.btn-facebook(type="button", ng-click="A.noop()")
      i.fa.fa-facebook-square
    button.btn.btn-sm.btn-danger(ng-if="A.providers.facebook", ng-click="A.unlinkLogin(A.providers.facebook)") &#32;Unlink

  div(ng-if="!A.providers.twitter")
    button.btn.btn-twitter(type="button", ng-click="A.loginWithTwitter()")
      i.fa.fa-twitter-square
      span &#32;| Connect with Twitter
  div(ng-if="A.providers.twitter")
    button.btn.btn-twitter(type="button", ng-click="A.noop()")
      i.fa.fa-twitter-square
    button.btn.btn-sm.btn-danger(ng-if="A.providers.twitter", ng-click="A.unlinkLogin(A.providers.twitter)") &#32;Unlink

  div(ng-if="!A.providers.tumblr")
    button.btn.btn-tumblr(type="button", ng-click="A.loginWithTumblr()")
      i.fa.fa-tumblr-square
      span &#32;| Connect with Tumblr
  div(ng-if="A.providers.tumblr")
    button.btn.btn-tumblr(type="button", ng-click="A.noop()")
      i.fa.fa-tumblr-square
    button.btn.btn-sm.btn-danger(ng-if="A.providers.tumblr", ng-click="A.unlinkLogin(A.providers.tumblr)") &#32;Unlink

  div(ng-if="!A.providers.ldsconnect")
    button.btn.btn-ldsconnect(type="button", ng-click="A.loginWithLdsconnect()")
      i.fa
        img(src="/images/moroni.png", style="position: relative; left: -3px; height: 16px;")
      span.signin | Connect with LDS.org
  div(ng-if="A.providers.ldsconnect")
    button.btn.btn-ldsconnect(type="button", ng-click="A.noop()")
      i.fa.fa-ldsconnect-square
    button.btn.btn-sm.btn-danger(ng-if="A.providers.ldsconnect", ng-click="A.unlinkLogin(A.providers.ldsconnect)") &#32;Unlink
