.container
  .row
    .col-xs-12
      h3 Notifications

  .row
    form.form-horizontal(ng-submit="P.scheduleMessage()")
      fieldset
        legend Schedule a Message to Users

        .form-group
          label.col-lg-2.control-label(for='textArea') Message
          .col-lg-10
            textarea#textArea.form-control(
              ng-model="P.msg.body"
              rows='5'
            )
            span.help-block
              span You can use the following templates in your message:&nbsp;
              code(ng-non-bindable) {{P.user.first}}
              span ,&#32;
              code(ng-non-bindable) {{P.user.last}}
              span ,&#32;
              code(ng-non-bindable) {{P.user.full}}
              span ,&#32;
              code(ng-non-bindable) {{P.event.title}}
              span ,&#32;
              code(ng-non-bindable) {{P.event.date}}

        .form-group
          label.col-lg-2.control-label When
          .col-lg-10
            .radio
              label
                input#timeRadiosSoon(
                  ng-model="P.msg.timetype"
                  value='soon'
                  type='radio'
                  name='timeRadios'
                )
                |             Conveniently*
            .radio
              label
                input#timeRadiosNow(
                  ng-model="P.msg.timetype"
                  value='now'
                  type='radio'
                  name='timeRadios'
                )
                |             Immediately
            .radio
              label
                input#timeRadiosCustom(
                  ng-model="P.msg.timetype"
                  value='custom'
                  type='radio'
                  name='timeRadios'
                )
                |             Specify

            span.help-block * Conveniently means now if it is before 8:30pm in the user's timezone, or tomorrow after 9:30am

        .form-group(ng-show="'custom' === P.msg.timetype")
          label.col-lg-2.control-label(for='P.inputDate') Pick a time
          .col-lg-10
            .row
              .col-lg-3.col-md-3.col-sm-3.col-xs-6
                input.form-control( type="date"
                                  , ng-model="P.msg.date"
                                  )
              .col-lg-2.col-md-2.col-sm-3.col-xs-6
                input.form-control( type="time"
                                  , ng-model="P.msg.time"
                                  )
            .row
              .col-xs-12
                .radio
                  label
                    input#relativeZoneRadiosZoneless(
                      ng-model="P.msg.relativeZone"
                      type='radio'
                      name='relativeZoneRadios'
                      value='zoneless'
                    )
                    |             According to the user's time
                .radio
                  label
                    input#relativeZoneRadiosOffset(
                      ng-model="P.msg.relativeZone"
                      type='radio'
                      name='relativeZoneRadios'
                      value='offset'
                    )
                    |             According to my time

        .form-group
          label.col-lg-2.control-label(for='inputSubject') Subject
          .col-lg-10
            .checkbox
              label
                input(ng-model="P.showSubject" type='checkbox')
                |  Customize Email Subject?
            input#inputSubject.form-control(
              ng-model="P.msg.subject"
              ng-if="P.showSubject"
              type='text'
              placeholder='i.e. ⚑'
            )
            span.help-block By default the notification symbol '⚑' will be used as the subject.

        .form-group
          label.col-lg-2.control-label(for='inputForce') Override Preferences
          .col-lg-10
            .checkbox
              label
                input(
                  ng-model="P.msg.forceSend.email"
                  type='checkbox'
                )
                |  Send via Email
            .checkbox
              label
                input(
                  ng-model="P.msg.forceSend.sms"
                  type='checkbox'
                )
                |  Send via SMS
            .checkbox
              label
                input(
                  ng-model="P.msg.forceSend.push"
                  type='checkbox'
                )
                |  Send via Push
            span.help-block By default we will notify the user according to their preferences

        .form-group
          .col-lg-10.col-lg-offset-2
            //-button.btn.btn-default Cancel
            button.btn.btn-primary(type='submit') Schedule Notification
