.container
  .row
    .col-xs-12
      h3 Notifications

  .row
    form.form-horizontal(ng-submit="scheduleMessage()")
      fieldset
        legend Schedule a Message to Users

        .form-group
          label.col-lg-2.control-label(for='textArea') Message
          .col-lg-10
            textarea#textArea.form-control(
              ng-model="msg.body"
              rows='5'
            )
            span.help-block
              span You can use the following templates in your message:&nbsp;
              code(ng-non-bindable) {{user.first}}
              span ,&#32;
              code(ng-non-bindable) {{user.last}}
              span ,&#32;
              code(ng-non-bindable) {{user.full}}
              span ,&#32;
              code(ng-non-bindable) {{event.title}}
              span ,&#32;
              code(ng-non-bindable) {{event.date}}

        .form-group
          label.col-lg-2.control-label When
          .col-lg-10
            .radio
              label
                input#timeRadiosSoon(
                  ng-model="msg.timetype"
                  value='soon'
                  type='radio'
                  name='timeRadios'
                )
                |             Conveniently*
            .radio
              label
                input#timeRadiosNow(
                  ng-model="msg.timetype"
                  value='now'
                  type='radio'
                  name='timeRadios'
                )
                |             Immediately
            .radio
              label
                input#timeRadiosCustom(
                  ng-model="msg.timetype"
                  value='custom'
                  type='radio'
                  name='timeRadios'
                )
                |             Specify

            span.help-block * Conveniently means now if it is before 8:30pm in the user's timezone, or tomorrow after 9:30am

        .form-group(ng-if="'custom' === msg.timetype")
          label.col-lg-2.control-label(for='inputDate') Pick a time
          .col-lg-10
            .row
              .col-lg-3.col-md-3.col-sm-3.col-xs-6
                br
                br
                .row
                  .col-xs-12
                    p.input-group
                      input.form-control(
                        ng-model="msg.date"
                        type="text"
                        datepicker-popup="{{format}}"
                        is-open="dtp.opened"
                        min-date="minDate"
                        max-date="'2015-06-22'"
                        datepicker-options="dateOptions"
                        date-disabled="disabled(date, mode)"
                        ng-required="true"
                        close-text="Close"
                      )
                      span.input-group-btn
                        button.btn.btn-default(type="button", ng-click="open($event)")
                          i.glyphicon.glyphicon-calendar
              .col-lg-2.col-md-2.col-sm-3.col-xs-6
                timepicker(
                  ng-model="msg.time"
                  ng-change="changed()"
                  hour-step="hstep"
                  minute-step="mstep"
                  show-meridian="ismeridian"
                )
            .row
              .col-xs-12
                .radio
                  label
                    input#relativeZoneRadiosZoneless(
                      ng-model="msg.relativeZone"
                      type='radio'
                      name='relativeZoneRadios'
                      value='zoneless'
                    )
                    |             According to the user's time
                .radio
                  label
                    input#relativeZoneRadiosOffset(
                      ng-model="msg.relativeZone"
                      type='radio'
                      name='relativeZoneRadios'
                      value='offset'
                    )
                    |             According to my time

        .form-group
          label.col-lg-2.control-label(for='inputSubject') Subject
          .col-lg-10
            .checkbox
              label
                input(ng-model="showSubject" type='checkbox')
                |  Customize Email Subject?
            input#inputSubject.form-control(
              ng-model="msg.subject"
              ng-if="showSubject"
              type='text'
              placeholder='i.e. ⚑'
            )
            span.help-block By default the notification symbol '⚑' will be used as the subject.

        .form-group
          label.col-lg-2.control-label(for='inputForce') Override Preferences
          .col-lg-10
            .checkbox
              label
                input(
                  ng-model="msg.forceSend.email"
                  type='checkbox'
                )
                |  Send via Email
            .checkbox
              label
                input(
                  ng-model="msg.forceSend.sms"
                  type='checkbox'
                )
                |  Send via SMS
            .checkbox
              label
                input(
                  ng-model="msg.forceSend.push"
                  type='checkbox'
                )
                |  Send via Push
            span.help-block By default we will notify the user according to their preferences

        .form-group
          .col-lg-10.col-lg-offset-2
            //-button.btn.btn-default Cancel
            button.btn.btn-primary(type='submit') Schedule Notification
